alias t='termite'
alias s='subl3 .'
alias c='chromium'
alias ci='chromium --incognito'
alias ct='chromium --proxy-server="socks://localhost:9050" --incognito'
alias p='sudo pacman'
alias y='yaourt'
alias v='vim'
alias sv='sudo vim'
alias ss='scrot $HOME/images/screenshots/%Y-%m-%d_%H-%M-%S.png'
alias sf='screenfetch -c 10,'
alias sd='sudo shutdown -P 0'
alias dm='dmenu_run -fn "Ubuntu Mono:size=12" -nb "#272822" -nf "#F1EBEB" -sb "#A7E22E" -sf "#272822"'
alias rb='sudo reboot'
alias tr='tar -xvf'
alias mk='makepkg -sri'
alias ll='ls --color=auto -Flha'
